div.ms-crm-TabBar-Cell {
	background-position: bottom; background-image: url("/_imgs/tab_line.gif"); background-repeat: repeat-x;
}
td.ms-crm-TabBar-Cell {
	background-position: bottom; background-image: url("/_imgs/tab_line.gif"); background-repeat: repeat-x;
}
li.ms-crm-Tab {
	border-width: 1px; border-style: solid; height: 18px; line-height: 18px; padding-top: 0px; padding-right: 10px; padding-left: 10px; float: left; position: relative; cursor: pointer; background-repeat: repeat-x;
}
li.ms-crm-Tab-Selected {
	height: 19px; border-bottom-width: 1px; cursor: default;
}
div.ms-crm-TabContainer {
	position: absolute;
}
div.ms-crm-Tab {
	height: 100%;
}
div.ms-crm-Tab {
	border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: none;
}
div.ms-crm-TabS {
	border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: none;
}
div.ms-crm-TabS {
	top: 30px; width: 98%; bottom: 0px; position: absolute;
}
div.ms-crm-InlineTab {
	display: block;
}
table.ms-crm-InlineTabHeader {
	padding: 3px 3px 2px 4px; width: 100%; margin-bottom: 3px;
}
.ms-crm-InlineTabBody {
	width: 100%; table-layout: fixed;
}
td.ms-crm-InlineTabHeaderExpander {
	vertical-align: middle;
}
td.ms-crm-InlineTabHeaderText {
	width: 100%; vertical-align: middle;
}
div.ms-crm-Form-Area {
	height: 100%;
}
div.ms-crm-Form-Area-Print {
	width: 100%; height: 100%; -ms-overflow-x: visible;
}
ul.ms-crm-TabBar {
	list-style: none; margin: 0px; padding: 0px; width: 100%; height: 21px; overflow: hidden; border-left-width: 1px; border-left-style: solid;
}
.crm-settings-floatLeft {
	float: left;
}
.crm-settings-floatRight {
	float: right;
}
div.formEditor-TabBar {
	height: 20px;
}
.crm-tab-Extend {
	margin-left: 5px;
}
