

body {
            width : 1250px;
            height: 738px;
            background: #fff;
            color: #505050;
            font: 14px 'Meiryo UI', tahoma, arial, helvetica, sans-serif;
            margin: 15px 15px 15px 15px;
            padding: 10px 20px;
        }

/* logsheet-content-------------------------- */

#logsheet-content {
    padding:10px 20px;
}

#logsheet-content h2 {
    font-size:20px;
}

/* logsheet-search-condition-------------------------- */
#logsheet-search-condition{
    height:90px;
    width:1180px;
    margin:10px 10px 10px 10px;
}

#logsheet-search-condition tr{
    line-height:25px;
}

#logsheet-search-condition tr th {
    width:100px;
    text-align:right;
    padding-right:10px;    
}

#logsheet-search-condition tr td.lookup {
    	background:url(./Images/lookup_icon/btn_off_lookup.png) no-repeat 0px 5px;
        cursor: pointer;         
}

#logsheet-search-condition tr td.lookup:hover {
    	background:url(./Images/lookup_icon/btn_on_lookup.png) no-repeat 0px 5px;
        cursor: pointer; 
}

#logsheet-search-condition tr td select {
    width:120px;
}

#logsheet-search-condition tr td input[type="radio"] {
    padding:0px 0px 0px 5px;
}

#logsheet-search-condition tr td label {
    padding:0px 15px 0px 5px;
}

#logsheet-search-condition tr td input[type="date"] {
    width:120px;
}

#logsheet-search-condition tr td input[type="month"] {
    width:120px;
}

#logsheet-search-condition tr td select option{
    text-align:center;
}


/* entry-submit-------------------------- */
#entry-submit{
    margin:0px 20px 10px 0px;
    height:30px;

}

#entry-submit ul li input {
    height:35px;
    margin-right:30px;
    font-size:20px;
    font-weight:bold;
}

.blue_btn_class {
    cursor: pointer; 
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #337fed;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 1px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}
.blue_btn_class:hover {
    cursor: pointer; 
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	background:-ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) );
	background-color:#1e62d0;
}
.blue_btn_class:active {
    cursor: pointer; 
	position:relative;
	top:1px;
}

/* logsheet-search-result-------------------------- */
#logsheet-search-result{
    width:1220px;
    height:440px;
    overflow-x:scroll;
    overflow-y:scroll;
    margin:10px 10px 10px 10px;
}



/* table.logsheet-result ----------------------------------------------------------*/
table.logsheet-result {
            width:1200px;
            height:520px;
            white-space:nowrap;
            border-top: 1px solid #708090;
            border-left: 1px solid #708090;
            border-spacing:0px;
        }

table.logsheet-result tr th,table.logsheet-result tr td {
            font-size: 12px;
            border-bottom: 1px solid #708090;
            border-right: 1px solid #708090;
            padding: 3px;
            text-align:center;
        }

table.logsheet-result tr th {
            background:#ADD8E6;
        }
/*
table.logsheet-result thead{
}

table.logsheet-result tbody {
}
*/
/* table.afiterorder-result-multiline ----------------------------------------------------------*/
table.afiterorder-result-multiline  {
            width:1200px;
            height:520px;
            white-space:nowrap;
            border-top: 1px solid #708090;
            border-left: 1px solid #708090;
            border-spacing:0px;
        }

table.afiterorder-result-multiline thead {
            height:100px;
        }


table.afiterorder-result-multiline tr {
            height:30px;
        }

table.afiterorder-result-multiline  tr th,table.afiterorder-result-multiline  tr td {
            font-size: 11px;
            border-bottom: 1px solid #708090;
            border-right: 1px solid #708090;
            padding: 3px;
            text-align:center;
        }

table.afiterorder-result-multiline tr th  {
            background:#ADD8E6;
            height:20px;
        }

/*#opportunity-process-twoline th{
    width:20px;
    font-size:20px;   
    height:60px;
    padding: 3px;
    writing-mode: tb-rl;
}*/

/*-------------------------- */
.menu1box{  
  
 position:relative;  
  
 overflow:hidden;  
  
 height:22px;  
  
 width:400px;  
  
 text-align:left;  
  
}  