/*
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400);
@import url(http://weloveiconfonts.com/api/?family=entypo);
*/

*{margin:0;padding:0;}
img{
	vertical-align:middle;
}
a{
	text-decoration:none;
}
html{
	font-family: 'Alegreya Sans SC', sans-serif;
}
body{
	position:relative;
}
#gnav{
	position:relative;
}
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


input#nav{
	display:none;
}

label[for="nav"]{
	display:block;
    top:5px;
    right:40px;
	color:#fff;
	width:45px;
	height:45px;
    border-radius:3px;
	text-align:center;
	line-height:45px;
	font-size:27px;
	position:absolute;
	z-index:10;
	transition:all 0.5s linear;
	cursor:pointer;
    background-color:lightgrey;
    filter:alpha(opacity=45);
    opacity:0.45;
}

    label[for="nav"]:hover {
    background-color:gray;

    }
input#nav:checked + label{
	color:#78cdce;
}
nav{
    background-color:slategray;
	position:absolute;
	left:0;
	background-size:100% 200%;
	margin-top:-50px;
	padding-top:50px;
	top:-400px;
	width:100%;
	height:45px;
	z-index:5;
	background:#AEAFC6;
    filter:alpha(opacity=85);
    opacity:0.85;
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);   
}
input#nav:checked ~ nav{
	top:0;
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav ul{
	float:right;
	width:10%;
	list-style:none;
	box-sizing:border-box;
}
nav ul:nth-child(1){
    padding-right:220px;
}

nav ul li{
            margin-right:5px;
            border-radius: 5px;
            color: white;
            float: left;
            padding: 5px 10px 5px 10px;
            width: 100px;
            text-align: center;
            cursor: pointer;
            background: #4169E1;            
            border: 1px solid #DDD;
            -ms-transition: background-color 0.5s ease-out; 
}
nav ul li:hover {
                transition: text-shadow 1s ease-out;
                background: #DC143C;
        }
                
nav li a {
    color: white;
    display: block;
    height: 20px;
    width: 100px;
}


#container{
	width:80%;
	padding-top:50px;
	margin:0 auto;
	overflow:hidden;
}

h1{
	font-size:48px;
	text-align:center;
	margin-bottom:20px;
}
@media screen and (max-width:480px){
	nav ul{
		float:none;
		width:90%;
	}
	nav ul:not(:nth-child(1)){
		margin-left:100px;
	}
	nav{
		top:-1000px;
			margin-top:-100px;
	padding-top:100px;
	}
}
